{% extends "base.html" %}

{% block content %}

    <script src="/static/js/bower_components/angular.min.js" type="text/javascript"></script>
    <script src="/static/js/MainAppFile/customDirectiveApp.js" type="text/javascript"></script>
    <script src="/static/js/controllers/GetWeatherReport.js" type="text/javascript"></script>
    <!--<script src="/static/js/servicesCustomDirective.js" type="text/javascript"></script>-->
    <!--<script src="/static/js/directive/ngCityDirective.js" type="text/javascript"></script>-->
    <!--<script src="/static/js/directive/ngSparkLineDirective.js" type="text/javascript"></script>-->
    <script src="/static/js/directive/checkDirective.js" type="text/javascript"></script>
  
    <div ng-app="customDirective">
        <div ng-controller="messageController as mc">    
           <item-value like="mc.likefunction(star)"></item-value><br>
        </div>
     </div>

{% endblock %}