{% extends "base.html" %}


{% block content %}
    
    <link rel="stylesheet" type="text/css" src="{{ url_for('static', filename='styles/myStyle.css')}}"></link>
    <script src="/static/js/bower_components/angular.min.js" type="text/javascript"></script>
    <script src="/static/js/bower_components/angular-ui.min.js" type="text/javascript"></script>
    
    <script src="/static/js/bower_components/ng-file-upload-shim.min.js" type="text/javascript"></script>
    <script src="/static/js/bower_components/ng-file-upload.min.js" type="text/javascript"></script>
    
    <script src="/static/js/angular-ui-bootstrap-modal.js" type="text/javascript"></script>
    <script src="/static/js/MainAppFile/fileUploadApp.js" type="text/javascript"></script>
    <script src="/static/js/controllers/fileUploadController.js" type="text/javascript"></script>
    
    
    
    <div ng-app="uploadApp" ng-controller="uploadController">
        
        <div ng-show="InVisible" ng-init="InVisible = true">
                <h4>Upload on file select</h4>
                
                <button ngf-select="uploadFiles($files, $invalidFiles)" multiple="multiple" accept=".csv">
                    Upload File
                </button>
                
                </br></br></br></br></br></br>
        </div>

        <div class="modal fade" modal="showModal" close="cancel()">
            <div class="modal-body" style="max-width: 900px;max-height: 600px; overflow-x:auto;overflow-y:auto;">
            <div class="modal-content">
                    <div class="modal-header">
                        <h4>Modal Dialog</h4>
                    </div>
                    
                    <div class="modal-body">
                        <p>{[data]}</p>
                    </div>
                    
                    <div class="modal-footer">
                        <button class="btn btn-success" ng-click=ok()>okay</button>
                        <button class="btn" ng-click="cancel()">cancel</button>
                    </div>
            </div>
            </div>
        </div>      
    </div>
    
{% endblock %}