{% extends "base.html" %}


{% block content %}


	<title> Rock On Angular Starting </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/animations.css') }}">
	<script src="/static/js/bower_components/bootstrap.min.css" type="text/css"></script>


    <script src="/static/js/bower_components/jquery.min.js" type="text/javascript"></script>

    <script src="/static/js/bower_components/angular.min.js" type="text/javascript"></script>
    <script src="/static/js/bower_components/angular-route.min.js" type="text/javascript"></script>
    <script src="/static/js/bower_components/angular-resource.min.js" type="text/javascript"></script>
    <script src="/static/js/bower_components/angular-animate.min.js" type="text/javascript"></script>

    <script src="/static/js/MainAppFile/app.js" type="text/javascript"></script>
    <script src="/static/js/services.js" type="text/javascript"></script>
    <script src="/static/js/controllers/GetAllPhoneDetail.js" type="text/javascript"></script>
    <script src="/static/js/controllers/GetSpecificPhoneDetail.js" type="text/javascript"></script>
    <script src="/static/js/config/route-config.js" type="text/javascript"></script>
    <script src="/static/js/config/tag-change.js" type="text/javascript"></script>
    <script src="/static/js/filters.js" type="text/javascript"></script>
    <script src="/static/js/animations.js" type="text/javascript"></script>
    
    <div ng-app="mainApp">
        <div class="view-container">
            <div ng-view class="view-frame"></div>
        </div>
    </div>
{% endblock %}