<div ng-controller="GetSpecificPhoneDetail as gspd">

    <div class="phone-images">
        <img    ng-src="{[img]}"
                class="phone"
                ng-repeat="img in gspd.phone.images"
                ng-class="{active: gspd.mainImageUrl==img}">
    </div>           
    
    <h1>{[gspd.phone.name]}</h1>
    <p>{[gspd.phone.description]}</p>

    <ul class="phone-thumbs">
            <li ng-repeat="img in gspd.phone.images">
                <img ng-src="{[img]}" ng-mouseenter="gspd.setImage(img)">
            </li>
    </ul>

    <ul class="specs">
            <li>
                <span>Availability and Networks</span>
                <dl>
                    <dt>Availability</dt>
                    <dd ng-repeat="availability in gspd.phone.availability">
                        {[availability]}</dd>
                </dl>
            </li>
            <li>
                <span>Battery</span>
                <dl>
                    <dt>Type</dt>
                    <dd>{[gspd.phone.battery.type]}</dd>
                    <dt>Talk Time</dt>
                    <dd>{[gspd.phone.battery.talkTime]}</dd>
                    <dt>Standby time (max)</dt>
                    <dd>{[gspd.phone.battery.standbyTime]}</dd>
                </dl>
            </li>
            
            <li>
                <span>Storage and Memory</span>
                <dl>
                    <dt>RAM</dt>
                    <dd>{[gspd.phone.storage.ram]}</dd>
                    <dt>Internal Storage</dt>
                    <dd>{[gspd.phone.storage.flash]}</dd>
                </dl>
            </li>
            
            <li>
                <span>Connectivity</span>
                <dl>
                    <dt>Network Support</dt>
                    <dd>{[gspd.phone.connectivity.cell | checkmark]}</dd>
                    <dt>WiFi</dt>
                    <dd>{[gspd.phone.connectivity.wifi | checkmark]}</dd>
                    <dt>Bluetooth</dt>
                    <dd>{[gspd.phone.connectivity.bluetooth | checkmark]}</dd>
                    <dt>Infrared</dt>
                    <dd>{[gspd.phone.connectivity.infrared | checkmark]}</dd>
                    <dt>GPS</dt>
                    <dd>{[gspd.phone.connectivity.gps | checkmark]}</dd>
                </dl>
            </li>
            
            <li>
                <span>Android</span>
                <dl>
                    <dt>OS Version</dt>
                    <dd>{[gspd.phone.android.os]}</dd>
                    <dt>UI</dt>
                    <dd>{[gspd.phone.android.ui]}</dd>
                </dl>
            </li>
            
            <li>
                <span>Size and weight </span>
                <dl>
                    <dt>Dimensions</dt>
                    <dd ng-repeat="dim in gspd.phone.sizeAndWeight.dimensions">{[dim]}</dd>
                    <dt>Weight</dt>
                    <dd>{[gspd.phone.sizeAndWeight.weight]}</dd>
                </dl>
            </li>
            <li>
                <span>Additional Featurs</span>
                <dd>{[gspd.phone.additionalFeatures]}</dd>
            </li>
    </ul>
</div>