 <div ng-controller="GetAllPhoneDetail as gapd" class="container-fluid">
            <div class="row">        
                  <div class="col-mid-2">
                      Search : <input ng-model="query">
                      Sort by:
                       <select ng-model="orderProp">
                            <option value="name">Alphabetical</option>
                            <option value="age">Newest</option>
                       </select>
                  </div>
                  <div class="col-mid-10">   
                        <!--<p>Total number of phones:{[phones.length]}</p>-->
                        <ul class="phones">
                            <li ng-repeat="phone in gapd.phones | filter : query | orderBy:orderProp" class="thumbnail phone-listing">
                                <a href="#/phones/{[phone.id]}" class="thumb">
                                    <img ng-src="{[phone.imageUrl]}" alt="{[phone.name]}">
                                </a>
                                <a href="#/phones/{[phone.id]}">{[phone.name]}</a>
                                <p>{[phone.snippet]}</p>    
                            </li>
                        </ul>
                </div>
            </div>
</div>