body{
    padding-top:20px;
}

.phone-images{
    background-color: white;
    width: 450px;
    height:450px;
    overflow: hidden;
    position: relative;
    float: left;
}

.phones{
    list-style: none;
}

.thumb{
    float: left;
    margin : 0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    height : 100px;
    width: 100px;
}

.phones li{
    clear:both;
    height :115px;
    padding-top:15px;
}


img.phone{
    float: left;
    margin-right: 3em;
    margin-bottom : 2em;
    background-color: white;
    padding: 2em;
    height: 400px;
    width: 400px;
    display: none;
}

img.phone:first-child{
    display: block;
}

ul.phone-thumbs{
    margin:0;
    list-style : none;
}

ul.phone-thumbs li{
    border : 1px solid black;
    display:inline-block;
    margin : 1em;
    background-color: white;
}

ul.phone-thumbs img{
    height : 100px;
    width : 100px;
    padding :1em;
}

ul.phone-thumbs img:hover{
    cursor : pointer;
}

ul.specs{
    clear : both;
    margin :0;
    padding:0;
    list-style : none;
}

ul.specs > li{
    display: inline-block;
    width:200px;
    vertical-align: top;
}

ul.specs > li > span{
    font-weight : bold;
    font-size: 1.2em;
}

ul.specs dt{
    font-weight: bold;
}

h1{
    border-bottom: 1px solid gray;
}