{% extends "base.html" %}


{% block content %}
    
    <script src="/static/js/bower_components/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/myStyle.css') }}">
    <script src="/static/js/file_upload.js"></script>    
    
<input type="file" id="uploadedFile" value="selectedFile"/>
<div id="myModal" class="modal fade ml" >
    <div class="modal-dialog mdialog" >
        <div class="modal-content">
            <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal"
aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Displaying CSV Files</h4>
            </div>
            <div class="modal-body mbody">
                <div class="modalContent" style="display:none;">
                   
                </div>      
            </div>    
        </div>
    </div>
 </div>
{% endblock %}